body {
    height: 100%;
    background-color: #1a1c28;
    transition: background-color 0.2s ease 0s;
}
button {

    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}
.wrap {
    text-align: center;
}

